# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Logs and databases
logs/
log/
beforeLog/
*.log
AplusAssetEXE/Log/
2020*/
2020*.py
/*.txt
login_error.png

# IDE and Editor configs
.idea/
.vscode/

# Build and Binary backups
chromedriver_back.exe
reqyurenebts.txt

# payment_list
payment_list/
